body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.794);
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 45px;
    font-weight: 900;
}

input,
select,
textarea,
button,
li {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contain {
    width: 85%;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}



#task {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 350px;
}

#date {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

#delete {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.taskBeAdded {
    display: flex;
    width: 97%;
    margin: auto;
}

.ordered-list {
    width: 700px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.li-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}